.burger {
    &__menu {
        color: #fff;
        width: 400px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        &-item {
            position: relative;
            &:first-child {
                &::before {
                    content: '';
                    background-image: url('../../../resourse/icons/coffee-beans.svg');
                    position: absolute;
                    top: -20px;
                    left: -30px;
                    z-index: 10;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        &-link {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}
